---

---

<section class="px-3">
    <h1 class="text-3xl mb-4">contact</h1>
    <div>
        <p class="text-muted">> collab, talk, discuss</p>
        <p>
            > <a href="mailto:ljurickc@gmail.com" class="underline text-muted hover:text-primary">ljurickc@gmail.com</a>
        </p>
    </div>
</section>
