---

---

<section class="px-3">
    <h1 class="mb-4 text-3xl">contact</h1>
    <div>
        <p class="text-muted">&gt; collab, talk, discuss</p>
        <p>
            &gt; <a href="mailto:ljurickc@gmail.com" class="text-muted underline hover:text-primary">ljurickc@gmail.com</a>
        </p>
    </div>
</section>
