---
const experience = new Date().getFullYear() - 2022;
---

<section class="px-3">
    <h1 class="text-3xl mb-4">experience</h1>
    <div class="flex flex-col">
        <p class="flex">
            <span class="text-muted min-w-40 whitespace-nowrap">&gt; name:</span>
            <span>Leopold Jurić</span>
        </p>
        <p class="flex">
            <span class="text-muted min-w-40 whitespace-nowrap">&gt; degree:</span>
            <span>Master of Engineering in Information Technology (M.Eng.IT.)</span>
        </p>
        <p class="flex">
            <span class="text-muted min-w-40 whitespace-nowrap">&gt; experience:</span>
            <span>{experience} years</span>
        </p>
    </div>
</section>
