---
import GitMergeIcon from "@/assets/icons/content/git-merge.svg";
import GitCommitIcon from "@/assets/icons/content/git-commit.svg";
import FolderOpenIcon from "@/assets/icons/content/folder-open.svg";
---

<section class="px-3">
    <h1 class="mb-4 text-3xl">github stats</h1>
    <div>
        <img
            src="https://ghchart.rshah.org/000/JuricLeo"
            alt="JuricLeo's GitHub contribution chart"
            width="742"
            height="116"
            loading="lazy"
            decoding="async"
            class="mb-6 w-full"
        />
        <div class="flex items-center gap-2">
            <GitMergeIcon class="size-5" />
            <!-- https://github.com/pulls?page=1&q=is%3Apr+author%3AJuricLeo+archived%3Afalse+is%3Amerged -->
            <p class="flex">
                <span class="text-muted xxs:min-w-68">Merged PRs:</span>
                <span class="ml-1">550+</span>
            </p>
        </div>
        <div class="flex items-center gap-2">
            <GitCommitIcon class="size-5" />
            <!-- https://github.com/JuricLeo -->
            <p class="flex">
                <span class="text-muted xxs:min-w-68">Contributions last year:</span>
                <span class="ml-1">2200+</span>
            </p>
        </div>
        <div class="flex items-center gap-2">
            <FolderOpenIcon class="size-5" />
            <p class="flex">
                <span class="text-muted xxs:min-w-68">Projects:</span>
                <span class="ml-1">25+</span>
            </p>
        </div>
    </div>
</section>
