---
import tech from "@/data/icons.json";
import type { Tool } from "@/types/tool.ts";

const { tool } = Astro.props as { tool: string };

const byName = (name: string): Tool => tech.find((item) => item.name === name)!;

const toolData = byName(tool);
---

<a
    href={toolData.url}
    target="_blank"
    rel="noopener noreferrer"
    aria-label={`Go to ${toolData.name}`}
    class="flex cursor-pointer items-center gap-1 px-2 py-0.5 hover:-translate-y-0.5 hover:bg-muted/5"
>
    <img alt={toolData.name + " tool icon"} src={toolData.src} class="size-4" loading="lazy" />
    <p>{toolData.name}</p>
</a>
