---
import { Socials } from "@/components/global/socials";
---

<footer
    class="mt-20 px-3 flex items-center justify-between border-t border-dotted py-6"
>
    <p>Leopold Jurić</p>
    <div class="flex gap-2">
        <Socials client:visible />
    </div>
</footer>
